
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 1%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.2rem;
}

.botonDados{
  width: 200px;
  background-color: #fdfdfd ;
  height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  padding: 0px;
  outline: none;
  border-radius: 50px;
  color: rgb(34, 32, 32);
}

.botonDados:hover{
  transform: scale(1.1);
  
}

.botonDados:active{
  color: red;
}

@media screen and (max-width: 414px){
 
  h1{
    font-size: 3rem;
  }

  .botonDados{
    width: 100px;
    text-align: center;
    font-size: 15px;
  
  }

  img{
    width: 40%;
  }

  .dice p{
    margin-bottom: 0px;
  }
}


